<div class="form">
  <div class="form-title">
    <label>New note</label>
  </div>
  <form (ngSubmit)="submit()" [formGroup]="newNoteForm">
    <div class="form-input">
      <input
        type="text"
        formControlName="noteTitle"
        name="noteTitle"
        required
        placeholder="Title"
        minlength="1"
      />
    </div>
    <div class="form-input">
      <textarea
        required
        formControlName="noteDescription"
        name="noteDescription"
        placeholder="Description"
        minlength="1"
      ></textarea>
    </div>
    <div class="form-submit">
      <input type="submit" value="Create" [disabled]="!newNoteForm.valid" />
      <input type="button" value="Clear" (click)="newNoteForm.reset()" />
    </div>
  </form>
</div>
