/*
Color palette
    Pink        #f38a8a
    Brown       #55443d
    Green       #a0cab5
    Light Green #cde9ca
    Cream       #f1edd0
*/
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #362727;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body {
    background-color: #f38a8a;
}
.header{
    display: flex; 
    justify-content: center;
    background-color: #55443d;
    color: aliceblue;
    font-weight: bold;
    padding: 15px;
    margin: -10px;
}
.content{
    background: #cde9ca;
    display: flex;
    margin: 10px auto 0px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

.form{
  background-color:#a0cab5;
  padding: 25px;
}

.form-title{
  font-weight: bold;
  font-size: medium;
  text-align: center;
  background-color: #f1edd0;
  padding: 10px 0 5px 0;
}

.form-input{
  font-weight: bold;
  background-color: #f1edd0;
  padding: 10px;
}

.form-input > textarea, .form-input > input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-input > textarea{
  width: 96%;
}

.form-submit {
  padding-bottom: 10px;
  background-color: #f1edd0;
  text-align: center;
}

.form-submit > input, .general-button > button{
  background-color: #f38a8a;
  border-radius: 3px;
  padding: 8px 20px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.general-button{
  display:flex; justify-content: center;
}

.note-button{
  background-color: #f1edd0;
  border: none;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}